html, body {
    width: 100%;
    height: 100%;
}
.background {
    position: relative;
    box-sizing: border-box;
    min-height: 100%;
    height: auto;
}
.page-body {
    margin: 0px auto;
    padding-bottom: 322px;
}
/*最最上边导航条*/
.zh-top {
    line-height: 36px;
    background-color: #f5f5f5;
    font-size: 12px;
    color:#919191;
}
.zh-top-left{
    text-indent: 18px;
}
.zh-top-tight{
    padding-right: 12px;
}
.hot-line{
    padding-right: 44px;
}
.online-text{
    padding-right: 24px;
}
.online-icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: top;
    margin-top: 10px;
    background: url("../img/online-consultant.png") no-repeat;
}
.message-icon{
    display: inline-block;
    width: 18px;
    height: 16px;
    vertical-align: top;
    margin-top: 10px;
    background: url("../img/message-need.png") no-repeat;
}

/*上边导航条*/
.nav>li>a:focus, .nav>li>a:hover {
    background-color: #fff;
}
.bs-docs-nav .navbar-toggle .icon-bar {
    background-color: #1a80d3;
}
.zh-nav > .container {
    padding: 10px 0 19px;
    height: 90px;
}
.zh-nav .navbar-nav li a{
    padding: 33px 18px 12px;
    font-size: 16px;
    line-height: 16px;
    color: #333333;
}
@media all and (max-width: 767px){
    .zh-nav .navbar-nav li a{
        padding: 10px;
    }
}
.zh-nav .navbar-nav li.active a{
    color: #3e9ef5;
}
.zh-nav .navbar-nav li:hover a{
    color: #3e9ef5;
    transition: all .5s;
}
.zh-nav .navbar-nav{
    padding-right: 30px;
}
@media all and (max-width: 768px){
    .zh-nav > .navbar-header {
       margin-left: 0;
       margin-right: 0;
    }
    .zh-nav > .container {
        padding:0 15px;
        height: auto;
    }
}
@media all and (max-width: 600px){
    .zh-nav {
        margin-bottom: 0;
    }
}
.company-logo {
    padding: 0 10px;
    margin-top: 10px;
}
.company-logo img{
    max-width: 100%;
}
/* 轮播广告 */
.carousel {
    height: 642px;
}

.carousel .item {
    background-color: #000;
}
.carousel-inner>.item>img {
    width: 100%;
    height: 642px;
    display: block;
}
.carousel-caption {
    z-index: 10;
}
.carousel-caption p {
    margin-bottom: 130px;
    font-size: 18px;
    line-height: 40px;
}
.carousel-caption .btn{
    border-color: #fcfcfc;
    color: #fcfcfc;
    width: 138px;
}

/* 轮播广告响应式布局 */
@media all and (max-width: 1200px){
    .carousel {
        height:auto;
    }
    .carousel-inner>.item>img{
        max-width:100%;
        height:auto;
    }
    .carousel-caption p {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 30px;
    }
    .carousel-caption .btn{
        padding: 6px 16px;
        font-size: 14px;
        width: 108px;
    }
}
/*写两种头的公共样式（我们的服务type-one和解决方案type-two就是两种典型代表）*/
.type-one{
    margin-top: 88px;
}
.type-two{
    padding-top: 66px;
}
.type-one h2,.type-one h2{
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 0;
}
.type-one h3,.type-two h3{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 58px;
    line-height: 34px;
    color: #666666;
}
.type-one h2{
    color: #222222;
}
.type-one h3{
    color: #666666;
}
.type-two h2,.type-two h3{
    color: #FFFFFF;
}
@media all and (max-width: 600px) {
    .type-one {
        margin-top: 28px;
    }
    .type-two {
        padding-top: 16px;
    }
    .type-one h2,.type-one h2 {
        font-size: 24px;
        line-height: 24px;
    }
    .type-one h3,.type-two h3 {
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 28px;
    }
}
.index-link {
    display: inline-block;
}
.index-link:hover {
    text-decoration: none;
}
/*我们的服务*/
.our-service .thumbnail{
    border: none;
    cursor: pointer;
}
.our-service .thumbnail:hover h3,.our-service .thumbnail:hover p{
    color: #308de3;
    transition: all .5s;
}
.our-service .thumbnail-img{
    display: inline-block;
    width: 100px;
    height: 100px;
}
.thumbnail-one .thumbnail-img{
    background-image: url("../img/our-service-one.png");
}
.thumbnail-two .thumbnail-img{
    background-image: url("../img/our-service-two.png");
}
.thumbnail-three .thumbnail-img{
    background-image: url("../img/our-service-three.png");
}
.thumbnail-four .thumbnail-img{
    background-image: url("../img/our-service-four.png");
}
.thumbnail-five .thumbnail-img{
    background-image: url("../img/our-service-five.png");
}
.thumbnail-six .thumbnail-img{
    background-image: url("../img/our-service-six.png");
}
.our-service .thumbnail-one:hover .thumbnail-img{
    background-image: url("../img/our-service-one-active.png");
    transition: all .5s;
}
.our-service .thumbnail-two:hover .thumbnail-img{
    background-image: url("../img/our-service-two-active.png");
    transition: all .5s;
}
.our-service .thumbnail-three:hover .thumbnail-img{
    background-image: url("../img/our-service-three-active.png");
    transition: all .5s;
}
.our-service .thumbnail-four:hover .thumbnail-img{
    background-image: url("../img/our-service-four-active.png");
    transition: all .5s;
}
.our-service .thumbnail-five:hover .thumbnail-img{
    background-image: url("../img/our-service-five-active.png");
    transition: all .5s;
}
.our-service .thumbnail-six:hover .thumbnail-img{
    background-image: url("../img/our-service-six-active.png");
    transition: all .5s;
}
.our-service .thumbnail .caption {
    padding: 9px 0;
}
.our-service .thumbnail h3{
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 0;
    color: #222222;
}
@media all and (max-width: 600px){
    .our-service .thumbnail h3{
        font-size: 14px;
        line-height: 30px;
        font-weight: bold;
    }
}
.our-service .thumbnail p{
    font-size: 12px;
    line-height: 18px;
    padding:0 10px;
    color: #666666;
}
/*解决方案*/
.solution{
    background: url('../img/solution-bg.png') no-repeat center;
    background-size: cover;
}
.solution-item{
    width: 25%;
    float: left;
    position: relative;
}
@media all and (max-width: 600px){
    .solution-item{
        width: 50%;
    }
}
.solution-mask{
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    cursor: pointer;
    z-index: 1;
}
.solution-mask-blue{
    position: absolute;
    background-color: rgba(62,158,245,0.66);
    top: 250px;
    bottom: 250px;
    left: 0;
    right: 0;
    cursor: pointer;
    z-index: 2;
}
.solution img{
    max-width: 100%;
}
.solution-mask-one,.solution-mask-two,.solution-mask-three,.solution-mask-four{
    align-self: center;
    margin: 0 auto;
    text-align: center;
}
.solution-mask-bg{
    display: inline-block;
}
.solution-mask-one .solution-mask-bg{
    background-image: url("../img/solution-mask-one.png");
    width: 62px;
    height: 62px;
}
.solution-mask-two .solution-mask-bg{
    background-image: url("../img/solution-mask-two.png");
    width: 54px;
    height: 54px;
}
.solution-mask-three .solution-mask-bg{
    background-image: url("../img/solution-mask-three.png");
    width: 62px;
    height: 56px;
}
.solution-mask-four .solution-mask-bg{
    background-image: url("../img/solution-mask-four.png");
    width: 60px;
    height: 60px;
}
.solution-mask p{
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}
.solution-item:hover .solution-mask-blue{
    display: block;
    top: 0;
    bottom: 0;
    transition: all .5s;
}
.solution-mask-introduce {
    display: none;
}
.solution-item:hover .solution-mask-introduce{
    display: block;
}
/*经典方案*/
.classic-solution {
    padding-bottom: 100px;
}
.classic-case {
    font-size:0;
    padding-bottom: 20px;
}
.classic-solution .thumbnail{
    border-radius:1px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    margin-top: 36px;
    padding: 0 4px;
}
.classic-solution .thumbnail:hover{
    background-color: #54abfc;
    transition: all .5s;
}
.classic-solution .thumbnail:hover .caption{
    color: #fff;
    transition: all .5s;
}
.classic-case div{
    display: inline-block;
    padding: 0 46px;
    font-size: 18px;
    line-height: 36px;
    background-color: #f5f5f5;
    color: #222222;
    margin-right: 14px;
    margin-bottom: 10px;
    cursor: pointer;
}

.classic-case div.active{
    background-color: #3e9ef5;
    color: #f5f9fe;
}
@media (max-width: 767px){
    .classic-case div{
        padding: 0 24px;
        font-size: 14px;
        line-height: 30px;
        margin-right: 10px;
    }
}
.classic-item .h3{
    font-size: 18px;
}
.classic-item p{
    font-size: 12px;
}
/*我们的优势*/
.our-advantages{
    background: url('../img/our-advantages-bg.png') no-repeat center;
    background-size: cover;
}
.our-advantages .media-body{
    color: #ffffff;
}
.our-advantages .media{
    margin-bottom: 105px;
    min-height: 65px;
}
/*新闻资讯*/
.news-information {
    padding-bottom: 80px;
}
.news-information .thumbnail{
    border: none;
}
.news-information-img {
    position: relative;
}
.news-information img{
    max-width: 100%;
    height: auto;
}
.text-mask {
    position: absolute;
    left: 16px;
    top: 16px;
    width:74px;
    height: 88px;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
}
.text-mask-num {
    font-size: 30px;
    line-height: 56px;
    text-align: center;
    font-weight: bold;
}
.text-mask-time{
    text-align: center;
}
/*关于我们*/
.about-us{
    /*background: url('../img/about-us-bg.png') no-repeat center;*/
    background-size: cover;
    padding-bottom: 40px;
}
.about-us img{
    width: 590px;
    height: 346px;
}
.about-us .media-body{
    padding-top: 2px;
    padding-left: 20px;
}
.about-us .media-body p{
    font-size: 15px;
    line-height: 28px;
    color: #232323;
    margin: 0;
    text-indent: 2em;
}
@media (max-width: 1200px) and (min-width: 992px) {
    .about-us img{
        width: 460px;
        height: auto;
    }
    .about-us .media-body p{
        font-size: 12px;
        line-height: 24px;
    }
}
/*网站尾部*/
.page-footer {
    position: absolute;
    height: 322px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #313131;
}
.page-footer-content {
    color: #fff;
    font-size: 14px;
    padding-top: 28px;
    padding-bottom: 28px;
}
.foot-list-group {
    padding-left: 0;
}
.foot-list-group li{
     list-style: none;
     line-height: 28px;
 }
.foot-list-group a{
    color: #fff;
}
.page-footer-line {
    display: block;
    width: 42px;
    margin-bottom: 15px;
    height: 0;
    border: 1px solid #fff;
}
.foot-wb img {
    border: 8px solid #f4f7fe;
    width: 110px;
    margin-bottom: 18px;
}
.foot-link a{
    color: #fff;
}
.footer-line {
    display: inline-block;
    padding: 0 7px;
    font-size: 12px;
    color: #f9fcff;
}
.foot-copy {
    margin: 0;
    line-height: 64px;
    background-color: #2a2a2a;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
@media (max-width: 768px){
    .page-body {
        padding-bottom: 560px;
    }
    .page-footer{
        height: 560px;
    }
}
@media (max-width: 500px){
    .page-body {
        padding-bottom: 680px;
    }
    .page-footer{
        height: 680px;
    }
}

