<footer id="footer" class="page-footer light-blue darken-3">
    <div class="container">
        <div class="row">
            <div class="col l5 s12">
                <h5 class="white-text">汇众联创</h5>

                <p class="grey-text text-lighten-4">
                    辽宁众汇联创科技有限公司(简称众汇联创)是辽宁沈阳一家专业从事软件开发、软件定制、软件实施的高新技术企业。拥有一批长期专业从事软件开发、软件定制的专业人才，具有雄厚的技术开发实力，全方位满足互联网信息化需求。
                </p>


            </div>
            <div class="col l4 s12">
                <h5 class="white-text">联系方式</h5>
                <ul>
                    <li class="white-text">Email：<a class="white-text" href="mailto:zh-lc@zh-lc.com">zh-lc@zh-lc.com</a>
                    </li>
                    <li class="white-text">地址：<span class="white-text">辽宁省沈阳市和平区五里河城C座</span></li>
                    <li class="white-text">电话：<span class="white-text">024 - 31683896</span></li>
                    <li class="white-text"></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">常用链接</h5>
                <ul>
                    <li class="white-text"><a class="white-text" href="about.html">关于我们</a></li>
                    <li class="white-text"><a class="white-text" href="join.html">加入我们</a></li>
                    <li class="white-text"><a class="white-text" href="clause.html">使用条款</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright © 2016 汇众联创&nbsp;&nbsp;辽ICP备16002485号-1
        </div>
    </div>
</footer>